<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="license">
      <h2 data-cy="licenseDetailsHeading"><span jhiTranslate="jhipstertenantappApp.license.detail.title">License</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ license.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipstertenantappApp.license.startDate">Start Date</span></dt>
        <dd>
          <span>{{ license.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipstertenantappApp.license.endDate">End Date</span></dt>
        <dd>
          <span>{{ license.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipstertenantappApp.license.active">Active</span></dt>
        <dd>
          <span>{{ license.active }}</span>
        </dd>
        <dt><span jhiTranslate="jhipstertenantappApp.license.module">Module</span></dt>
        <dd>
          <div *ngIf="license.module">
            <a [routerLink]="['/module', license.module.id, 'view']">{{ license.module.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/license', license.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
