<div>
  <h2 id="page-heading" data-cy="AccessRightHeading">
    <span jhiTranslate="jhipstertenantappApp.accessRight.home.title">AccessRights</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipstertenantappApp.accessRight.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-access-right"
        [routerLink]="['/access-right/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipstertenantappApp.accessRight.home.createLabel"> Créer un nouveau Access Right </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accessRights?.length === 0">
    <span jhiTranslate="jhipstertenantappApp.accessRight.home.notFound">Aucun Access Right trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="accessRights && accessRights.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="canRead">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.accessRight.canRead">Can Read</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="canWrite">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.accessRight.canWrite">Can Write</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="canDelete">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.accessRight.canDelete">Can Delete</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="module.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.accessRight.module">Module</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.accessRight.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accessRight of accessRights; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/access-right', accessRight.id, 'view']">{{ accessRight.id }}</a>
          </td>
          <td>{{ accessRight.canRead }}</td>
          <td>{{ accessRight.canWrite }}</td>
          <td>{{ accessRight.canDelete }}</td>
          <td>
            <div *ngIf="accessRight.module">
              <a [routerLink]="['/module', accessRight.module.id, 'view']">{{ accessRight.module.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="accessRight.employee">
              <a [routerLink]="['/employee', accessRight.employee.id, 'view']">{{ accessRight.employee.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/access-right', accessRight.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/access-right', accessRight.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(accessRight)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="accessRights && accessRights.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
