<div>
  <h2 id="page-heading" data-cy="ModuleSubscriptionHeading">
    <span jhiTranslate="jhipstertenantappApp.moduleSubscription.home.title">ModuleSubscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipstertenantappApp.moduleSubscription.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-module-subscription"
        [routerLink]="['/module-subscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipstertenantappApp.moduleSubscription.home.createLabel"> Créer un nouveau Module Subscription </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moduleSubscriptions?.length === 0">
    <span jhiTranslate="jhipstertenantappApp.moduleSubscription.home.notFound">Aucun Module Subscription trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="moduleSubscriptions && moduleSubscriptions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subscriptionDate">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.moduleSubscription.subscriptionDate">Subscription Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.moduleSubscription.active">Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="module.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.moduleSubscription.module">Module</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstertenantappApp.moduleSubscription.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moduleSubscription of moduleSubscriptions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/module-subscription', moduleSubscription.id, 'view']">{{ moduleSubscription.id }}</a>
          </td>
          <td>{{ moduleSubscription.subscriptionDate | formatMediumDatetime }}</td>
          <td>{{ moduleSubscription.active }}</td>
          <td>
            <div *ngIf="moduleSubscription.module">
              <a [routerLink]="['/module', moduleSubscription.module.id, 'view']">{{ moduleSubscription.module.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="moduleSubscription.client">
              <a [routerLink]="['/client', moduleSubscription.client.id, 'view']">{{ moduleSubscription.client.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/module-subscription', moduleSubscription.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/module-subscription', moduleSubscription.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(moduleSubscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="moduleSubscriptions && moduleSubscriptions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
